Repository magmo/apps, pull requests merged in 2019-02, with the labels that each got.

#161 Split out Resting into PlayAgainMeFirst and PlayAgainMeSecond
  README.md
  packages/tictactoe/contracts/TicTacToeGame.sol
  packages/tictactoe/contracts/TicTacToeHelpers.sol
  packages/tictactoe/contracts/TicTacToeState.sol
  packages/tictactoe/contracts/pre_built_artifacts/State.json
  packages/tictactoe/contracts/pre_built_artifacts/TicTacToeGame.json
  packages/tictactoe/contracts/pre_built_artifacts/TicTacToeHelpers.json
  packages/tictactoe/contracts/pre_built_artifacts/TicTacToeState.json
  packages/tictactoe/notes/TTT-user-workflows.png
  packages/tictactoe/notes/TTT-user-workflows.xml
  packages/tictactoe/notes/TTT-user-workflowsV2.xml
  packages/tictactoe/notes/TTT_position_types.png
  packages/tictactoe/notes/TTT_position_types.xml
  packages/tictactoe/notes/TTTgamestates.xml
  packages/tictactoe/notes/TicTacToe.svg
  packages/tictactoe/notes/TicTacToeUserFlow.svg
  packages/tictactoe/notes/TicTacToeUserFlowTrim.svg
  packages/tictactoe/notes/ttt.md
  packages/tictactoe/src/containers/GameFooterContainer.tsx
  packages/tictactoe/src/contract-tests/tic-tac-toe.test.ts
  packages/tictactoe/src/contract-tests/ttt-game.test.ts
  packages/tictactoe/src/contract-tests/ttt-helpers.test.ts
  packages/tictactoe/src/contract-tests/ttt-state.test.ts
  packages/tictactoe/src/core/__tests__/encode.test.ts
  packages/tictactoe/src/core/decode.ts
  packages/tictactoe/src/core/encode.ts
  packages/tictactoe/src/core/positions.ts
  packages/tictactoe/src/core/test-scenarios.ts
  packages/tictactoe/src/redux/game/__tests__/player-a.test.ts
  packages/tictactoe/src/redux/game/__tests__/player-b.test.ts
  packages/tictactoe/src/redux/game/reducer.ts
  packages/tictactoe/src/redux/game/state.ts
Labels: ttt

#177 Properly exit case statement if its not message we expect
  packages/rps/config/webpack.config.js
  packages/rps/src/__stories__/index.tsx
  packages/rps/src/containers/SiteContainer.tsx
  packages/rps/tslint.json
  packages/tictactoe/config/webpack.config.js
  packages/tictactoe/src/containers/SiteContainer.tsx
  packages/tictactoe/tslint.json
  packages/wallet/config/webpack.config.js
  packages/wallet/src/redux/reducers/__tests__/closing.test.ts
  packages/wallet/src/redux/reducers/__tests__/withdrawing.test.ts
  packages/wallet/src/redux/reducers/challenging.ts
  packages/wallet/src/redux/reducers/closing.ts
  packages/wallet/src/redux/reducers/funding.ts
  packages/wallet/src/redux/reducers/responding.ts
  packages/wallet/tslint.json
Labels: wallet

#195 make GameOverPage more like PlayAgain and PlayAgainWait
  packages/tictactoe/src/__stories__/index.tsx
  packages/tictactoe/src/components/GameFooter.tsx
  packages/tictactoe/src/components/GameOverPage.tsx
  packages/tictactoe/src/containers/GameContainer.tsx
  packages/tictactoe/src/core/results.ts
  packages/tictactoe/src/redux/game/__tests__/player-a.test.ts
  packages/tictactoe/src/redux/game/reducer.ts
Labels: ttt

#194 Responding to challenges
  packages/magmo-wallet-client/src/messages-to-wallet.ts
  packages/rps/src/redux/game/reducer.ts
Labels: rps, wallet

#208 Gk warnings cleanup
  package.json
  packages/rps/package.json
  packages/rps/public/favicon.ico
  packages/rps/src/gateways/firebase.ts
  packages/rps/src/redux/login/saga.ts
  packages/rps/src/redux/metamask/saga.ts
  packages/tictactoe/package.json
  packages/tictactoe/public/favicon.ico
  packages/tictactoe/src/gateways/firebase.ts
  packages/tictactoe/src/redux/login/saga.ts
  packages/tictactoe/src/redux/metamask/saga.ts
  packages/wallet/gateways/firebase.ts
  packages/wallet/package.json
  packages/wallet/public/favicon.ico
Labels: rps, ttt, wallet
